n8n-workflows/phase1-safe-readonly-test.json
{
  "name": "Fahrzeugannahme - Safe Read-Only Tests (Phase 1)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger-1"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 1: App Homepage erreichbar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "test-homepage"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/annahme.html",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 2: Annahme-Seite erreichbar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "id": "test-annahme"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/liste.html",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 3: Liste-Seite erreichbar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "id": "test-liste"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        }
      },
      "name": "Alle Tests erfolgreich?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300],
      "id": "check-success"
    },
    {
      "parameters": {
        "fromEmail": "noreply@n8n.cloud",
        "toEmail": "gaertner-marcel@web.de",
        "subject": "✅ Fahrzeugannahme Tests - ERFOLGREICH",
        "emailType": "html",
        "text": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    .header { background: #4caf50; color: white; padding: 20px; }\n    .content { padding: 20px; }\n    .test { margin: 10px 0; padding: 10px; background: #e8f5e9; border-left: 4px solid #4caf50; }\n    .footer { color: #666; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>✅ Phase 1 Tests - ERFOLGREICH</h1>\n  </div>\n  <div class=\"content\">\n    <p>Alle Read-Only Tests sind erfolgreich durchgelaufen!</p>\n    \n    <div class=\"test\">\n      <strong>Test 1: Homepage</strong><br>\n      Status: {{ $node[\"Test 1: App Homepage erreichbar\"].json.statusCode }}<br>\n      URL: https://marcelgaertner1234.github.io/Lackiererei1/\n    </div>\n    \n    <div class=\"test\">\n      <strong>Test 2: Annahme-Seite</strong><br>\n      Status: {{ $node[\"Test 2: Annahme-Seite erreichbar\"].json.statusCode }}<br>\n      URL: https://marcelgaertner1234.github.io/Lackiererei1/annahme.html\n    </div>\n    \n    <div class=\"test\">\n      <strong>Test 3: Liste-Seite</strong><br>\n      Status: {{ $node[\"Test 3: Liste-Seite erreichbar\"].json.statusCode }}<br>\n      URL: https://marcelgaertner1234.github.io/Lackiererei1/liste.html\n    </div>\n    \n    <p class=\"footer\">\n      Zeitpunkt: {{ $now.toISO() }}<br>\n      n8n Workflow: Fahrzeugannahme - Safe Read-Only Tests (Phase 1)<br>\n      <strong>Sicherheit:</strong> Dieser Test hat KEINE Daten geändert (Read-Only)\n    </p>\n  </div>\n</body>\n</html>"
      },
      "name": "Email: SUCCESS ✅",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 200],
      "id": "email-success"
    },
    {
      "parameters": {
        "fromEmail": "noreply@n8n.cloud",
        "toEmail": "gaertner-marcel@web.de",
        "subject": "❌ Fahrzeugannahme Tests - FEHLER",
        "emailType": "html",
        "text": "=<!DOCTYPE html>\n<html>\n<head>\n  <style>\n    body { font-family: Arial, sans-serif; }\n    .header { background: #f44336; color: white; padding: 20px; }\n    .content { padding: 20px; }\n    .error { margin: 10px 0; padding: 10px; background: #ffebee; border-left: 4px solid #f44336; }\n    .footer { color: #666; font-size: 12px; margin-top: 20px; }\n  </style>\n</head>\n<body>\n  <div class=\"header\">\n    <h1>❌ Phase 1 Tests - FEHLER</h1>\n  </div>\n  <div class=\"content\">\n    <p>Mindestens ein Test ist fehlgeschlagen!</p>\n    \n    <div class=\"error\">\n      <strong>Fehlerdetails:</strong><br>\n      Status Code: {{ $json.statusCode || 'N/A' }}<br>\n      URL: {{ $json.url || 'N/A' }}<br>\n      Error: {{ $json.error || 'Unknown error' }}\n    </div>\n    \n    <p><strong>Nächste Schritte:</strong></p>\n    <ul>\n      <li>Prüfe ob die App erreichbar ist: <a href=\"https://marcelgaertner1234.github.io/Lackiererei1/\">App öffnen</a></li>\n      <li>Prüfe GitHub Pages Status</li>\n      <li>Teste manuell im Browser</li>\n    </ul>\n    \n    <p class=\"footer\">\n      Zeitpunkt: {{ $now.toISO() }}<br>\n      n8n Workflow: Fahrzeugannahme - Safe Read-Only Tests (Phase 1)<br>\n      <strong>Sicherheit:</strong> Dieser Test hat KEINE Daten geändert (Read-Only)\n    </p>\n  </div>\n</body>\n</html>"
      },
      "name": "Email: FAILURE ❌",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 400],
      "id": "email-failure"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test 1: App Homepage erreichbar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 1: App Homepage erreichbar": {
      "main": [
        [
          {
            "node": "Test 2: Annahme-Seite erreichbar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 2: Annahme-Seite erreichbar": {
      "main": [
        [
          {
            "node": "Test 3: Liste-Seite erreichbar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 3: Liste-Seite erreichbar": {
      "main": [
        [
          {
            "node": "Alle Tests erfolgreich?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alle Tests erfolgreich?": {
      "main": [
        [
          {
            "node": "Email: SUCCESS ✅",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Email: FAILURE ❌",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "fahrzeugannahme-safe-tests-phase1",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
