n8n-workflows/phase1-simple-no-email.json
{
  "name": "Fahrzeugannahme - Simple Tests (KEINE Email)",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "id": "manual-trigger-1"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 1: Homepage",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "id": "test-homepage"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/annahme.html",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 2: Annahme",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 300],
      "id": "test-annahme"
    },
    {
      "parameters": {
        "url": "https://marcelgaertner1234.github.io/Lackiererei1/liste.html",
        "options": {
          "timeout": 10000
        }
      },
      "name": "Test 3: Liste",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "id": "test-liste"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result1",
              "name": "homepage_status",
              "value": "={{ $('Test 1: Homepage').item.json.statusCode }}",
              "type": "number"
            },
            {
              "id": "result2",
              "name": "annahme_status",
              "value": "={{ $('Test 2: Annahme').item.json.statusCode }}",
              "type": "number"
            },
            {
              "id": "result3",
              "name": "liste_status",
              "value": "={{ $('Test 3: Liste').item.json.statusCode }}",
              "type": "number"
            },
            {
              "id": "summary",
              "name": "test_result",
              "value": "={{ $('Test 1: Homepage').item.json.statusCode === 200 && $('Test 2: Annahme').item.json.statusCode === 200 && $('Test 3: Liste').item.json.statusCode === 200 ? '✅ ALLE TESTS ERFOLGREICH' : '❌ MINDESTENS EIN TEST FEHLGESCHLAGEN' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Ergebnis zusammenfassen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 300],
      "id": "summarize-results"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Test 1: Homepage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 1: Homepage": {
      "main": [
        [
          {
            "node": "Test 2: Annahme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 2: Annahme": {
      "main": [
        [
          {
            "node": "Test 3: Liste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test 3: Liste": {
      "main": [
        [
          {
            "node": "Ergebnis zusammenfassen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "1",
  "id": "fahrzeugannahme-simple-no-email",
  "meta": {
    "instanceId": "your-instance-id"
  },
  "tags": []
}
